@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@tailwind base;
@tailwind components;
.finished{
    width: 400.36px;
    height: 480.96px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.loading{
    width: 400.36px;
    height: 143.57px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.progress{
    width:30%;
    margin-left: 0;
    animation: progressBar 1s linear  forwards infinite;
}
@keyframes progressBar {
    0% {
        width: 0;
    }
    50% {
        width: 30%;
        margin-left: 40%;
    }
    100% {
        width: 0;
        margin-left: 100%;

    }
}
@tailwind utilities;